<div class="w-full h-screen flex justify-center py-4">
  <div class="w-[40vw] h-full bg-gray-500 flex justify-center items-center">
    <p class="text-xl text-gray-100"> Put video here </p>
  </div>
</div>
