<div 
  class="h-screen w-full overflow-y-scroll"
  data-controller="feed" 
  data-action="scroll->feed#scroll">
  
  <div class="w-full min-h-[200vh] flex flex-col items-center py-4">
  <%= render "post", post: @posts %>
</div>

</div>
